/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: #f2f3f5;
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;

  --theme-color: #1e80ff;
  --box-radius: 4px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-width: 1440px;
  margin: 0 auto;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none; /* firefox */
  /* 隐藏滚动条 */
  -ms-overflow-style: none; /* IE 10+ */
  overflow-x: hidden;
  overflow-y: auto;
}
body::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

#app {
  margin: 0 auto;
  font-weight: normal;
  background: #f2f3f5;
  height: 100vh;
}

ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--theme-color);
}
.bx {
  width: 1440px;
  margin: 0 auto;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

/* 显示时按钮样式 */
.el-button--primary {
  /* 需要更改的按钮类型 type='primary' */
  background: var(--theme-color) !important;
  border-color: var(--theme-color) !important;
}
/* 移入时按钮样式 type='primary' */
.el-button--primary:hover {
  background: #0e5bc0 !important;
  border-color: #0e5bc0 !important;
  color: #fff !important;
  opacity: 0.8;
}
.el-button--default {
  /* 需要更改的按钮类型 type='default' */
  background: #f4f9ff !important;
  border-color: #1d7efc !important;
  color: #007fff !important;
}
/* 移入时按钮样式type='default' */
.el-button--default:hover {
  background: #fff !important;
  border-color: #45a3fc !important;
  color: #3599f5 !important;
  opacity: 0.8;
}

.el-skeleton {
  background-color: #fff;
  padding: 20px 40px;
}

.el-tag {
  margin-left: 8px;
}

.el-badge__content--primary {
  background-color: var(--theme-color) !important;
}
