@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
  background: #f2f3f5;
  height: 100vh;
}

.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
